@keyframes sparkle {
    0% {
        transform: translate(-50%, -50%) scale(0.8) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translate(calc(-50% + var(--x)), calc(-50% + var(--y)))
        scale(0.3)
        rotate(180deg);
        opacity: 0;
    }
}